html {
	height: 100%;
	min-width: 1680px;
	min-height: 1050px;
}

*{
	background-color: #FDFFAA;
}

body {
	display: flex;
    flex-direction: column;
    height: 100%;
}

header {
	font-size: 20px;
	background-color: #2D2D2F;
	width: 78%;
	margin-left: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding-left: 1%;
	padding-right: 1%;
	flex: 0 0 auto;
}

header * {
	background-color: #2D2D2F;
	color: white;
	text-align: center;
}

.lft1, .lft2 {
	display: inline-block;
	vertical-align: middle;
}

.lft1 {
	margin-right: 10px;
}

header hr {
	border: 1px solid #FAEC01;
}

header a {
	text-decoration: none;
	padding: 7px;
}

header a:hover,
footer a:hover {
	background-color: #535358;
	border-radius: 20px;
}

.hdr {
	display: inline-block;
}

.cntr1 {
	border-left: 10px solid #FAEC01;
	padding-left: 2%;
}

.cntr4 {
	border-right: 10px solid #FAEC01;
	padding-right: 2%;
}

.cntr1, .cntr2, .cntr3, .cntr4 {
	line-height: 400%;
}

.rght {
	line-height: 200%;
}

main {
	flex: 1 0 auto;
	margin-left: 10%;
	width: 78%;
	background-color: #EDEFF1;
	font-size: 24px;
	padding-left: 1%;
	padding-right: 1%;
}

main a {
	color: #528AA8;
	text-decoration: none;
}

main a:hover{
	color: #67C7F1;
	text-decoration: line-underline;
}

main pre {
	font-family: Times New Roman;
}

main * {
	background-color: #EDEFF1;
	color: #3A3A3A;
}

footer {
	flex: 0 0 auto;
	display: flex;
	width: 78%;
	margin-left: 10%;
	background-color: #2D2D2F;
	padding: 1%;
}

footer * {
	display: inline-block;
	color: white;
	background-color: #2D2D2F;
	font-size: 20px;
}

footer a{
	text-decoration: none;
	padding: 7px;
}

footer pre {
	font-family: Times New Roman;
}

#aa {
	margin-left: auto;
}

.register {
	background-color: #EDEFF1;
	margin: auto;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 1%;
	border-radius: 50px;
	border: 5px double #2D2D2F;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 10%;
	min-width: 10%;
}

.register * {
	padding-top: 0.5vh;
	background-color: #EDEFF1;
	color: #2D2D2F;
	font-size: 16px;
	font-family: Times New Roman;
	width: 100%;
}

.register form {
	text-align: center;
	font-weight: 900;
}

.register h1 {
	text-align: center;
}

.register input {
	border: 1px solid #2D2D2F;
	padding-left: 5px;
	margin-top: 0.5vh;
}

.register textarea {
	margin-top: 3%;
	padding-left: 5px;
	resize: none;
	border: 1px solid #2D2D2F;
}

.register .message {
	color: #ED4C4C;
}

.alert {
	color: #ED4C4C;
}

.btn {
	padding: 5%;
	color: black;
	background-color: #EDEFF1;
	border: 5px solid #2D2D2F;
}

.btn:hover {
	background-color: #FAEC01;
	cursor: pointer;
	border: 1px groove #2D2D2F;
}

.notification-bar {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}


.notification-bar button {
	cursor: pointer;
	margin-left: auto;
	max-height: 20px;
	width: auto;
	border: none;
	margin-right: 1%;
}

.notification-bar img{
	max-height: 20px;
	width: auto;
	margin-right: 1%;
}

.error {
	background-color: #F8D7DA;
	color: red;
}

.error * {
	background-color: #F8D7DA;
}

.success{
	background-color: #D4EDDA;
	color: green;
}

.success * {
	background-color: #D4EDDA;
}

.notification-text {
    font-size: 16px;
	margin-left: auto;
	display: inline-block;
}

.animmm {
	transform: translateY(-50px);
	transition: transform .5s;
}

.notification-bar {
	animation: initiate 1s;
}

@keyframes initiate {  
    0% {  
        transform: translateY(-100%);  
	}

    100% {  
        transform: translateY(0%);  
    }   
 }

 .error_page{
    padding-left: 5%;
    padding-top: 5%;
    line-height: 300%;
}

.error_page * {
    color: black;
}

.error_page pre {
    font-family: Times New Roman;
}

.error_page a {
	color: #528AA8;
}

.error_page a:hover{
	color: #67C7F1;
}

.forum-sec {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
	display: flex;
	flex-direction: column;
	border : 5px solid #FAEC01;
}

.sec {
	cursor: pointer;
	border: 2px solid #FAEC01;
	display: flex;
}

.lft_sec {
	padding-right: 1%;
	padding-left: 1%;
	border-right: 4px solid #FAEC01;
	flex-grow: 2;
}

.rght_sec {
	padding-left: 1%;
	padding-right: 1%;
	margin-left: auto;
}

.act:hover {
	content: attr(title);
}

.sec_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add_tred {
	text-decoration: none;
	font-weight: 900;
	border: 2px solid red;
	border-radius: 15px;
	padding: 1%;
}	

.add_tred {
	border: 2px solid;
}

.add_tred:hover {
	border: 2px solid #67C7F1;
}

.create_thread {
	min-width: 20%;
	max-width: 20%;
	margin: auto;
	margin-top: 5%;
}

.sec_thr {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	display: flex;
	border : 5px solid #FAEC01;
	cursor: pointer;
	flex-direction: column;
}

.thread {
	display: flex;
	align-items: center;
	border: 2px solid #FAEC01;
}

.lft_thr {
	padding: 1%;
	flex-grow: 2;
	overflow: hidden;
	width: 70%;
}

.rght_thr {
	width: 20%;
	border-left: 4px solid #FAEC01;
	text-align: center;
	padding: 1%;
	align-content: center;
	margin-left: auto;
}

.rght_thr img {
	width: 150px;
	max-height: 150px;
	height: auto;
}