html {
	height: 100%;
}

*{
	background-color: #FAFD7D;
}

body {
	display: flex;
    flex-direction: column;
    height: 100%;
}

header {
	font-size: 20px;
	background-color: #2D2D2F;
	width: 78%;
	margin-left: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding-left: 1%;
	padding-right: 1%;
	flex: 0 0 auto;
}

header * {
	background-color: #2D2D2F;
	color: white;
	text-align: center;
}

.lft1, .lft2 {
	display: inline-block;
	vertical-align: middle;
}

.lft1 {
	margin-right: 10px;
}

header hr {
	border: 1px solid #FAEC01;
}

header a {
	text-decoration: none;
}

.hdr {
	display: inline-block;
}

.cntr1 {
	border-left: 10px solid #FAEC01;
	padding-left: 2%;
}

.cntr4 {
	border-right: 10px solid #FAEC01;
	padding-right: 2%;
}

.cntr1, .cntr2, .cntr3, .cntr4 {
	line-height: 400%;
}

.rght {
	line-height: 200%;
}

main {
	flex: 1 0 auto;
	margin-left: 10%;
	width: 78%;
	background-color: #EDEFF1;
	font-size: 24px;
	padding-left: 1%;
	padding-right: 1%;
}

main a {
	color: #528AA8;
	text-decoration: none;
}

main a:hover{
	color: #67C7F1;
	text-decoration: line-underline;
}

main pre {
	font-family: Times New Roman;
}

main * {
	background-color: #EDEFF1;
	color: #3A3A3A;
}

footer {
	flex: 0 0 auto;
	display: flex;
	width: 78%;
	margin-left: 10%;
	background-color: #2D2D2F;
	padding: 1%;
}

footer * {
	display: inline-block;
	color: white;
	background-color: #2D2D2F;
	font-size: 20px;
}

footer pre {
	font-family: Times New Roman;
}

#aa {
	margin-left: auto;
}

.register {
	background-color: #2D2D2F;
	margin: auto;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 1%;
	border-radius: 50px;
	border: 5px double white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 10%;
	min-width: 10%;
}

.register * {
	padding-top: 0.5vh;
	background-color: #2D2D2F;
	color: white;
	font-size: 16px;
	font-family: Times New Roman;
}

.register form {
	text-align: center;
}

.register input {
	border: 1px solid white;
	padding-left: 5px;
	margin-top: 0.5vh;
}

.register textarea {
	margin-top: 3%;
	padding-left: 5px;
	resize: none;
	border: 1px solid white;
}

.register .message {
	color: #FAEC01;
}

.btn {
	padding: 5%;
	color: #2D2D2F;
	background-color: white;
}