<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8; width=1200" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<title>{{ title }}</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<img src="../static/images/logo.png">
			<div class="hdr", id="lft">
				<p>pih-poh.online</p>
				<hr color="white">
				<p>рэп и хип-хоп</p>
			</div>
			<div class="hdr", id="cntr">
				<a>ЛЕНТА</a>
				<a>ФОРУМ</a>
				<a>О ПРОЕКТЕ</a>
				<a>ДОНАТ</a>
			</div>
			<div class="hdr"; id="rght">
				<a color="">вход</a>
				<hr color="white">
				<a>регистрация</a>
			</div>
		</header>
		<main>
			<h1>Сайт</h1>
			{% block content %}{% endblock %}
		</main>
	</body>
	<footer>
		<p>©Copyright by Д. В. Костоусов, 2020</p>
		<p id="aa">Контакты: dancool_5@mail.ru</p>
	</footer>
</html>
