<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8; width=1200" />	
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		{% block head %}{% endblock %}
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
				<div class="hdr lft">
				  <img class="lft1" src="{{ url_for('static', filename='images/logo.png') }}" />
					 <div class="lft2">
						  <p>pih-poh.online</p>
						  <hr />
						  <p>рэп и хип-хоп</p>
					</div>
				</div>
				<div class="hdr cntr1">
					<a href="{{ url_for('main_page') }}">ЛЕНТА</a>
				</div>
				<div class="hdr cntr2">
					<a href="{{ url_for('forum') }}">ФОРУМ</a>
				</div>
				<div class="hdr cntr3">
					<a href="{{ url_for('about') }}">О ПРОЕКТЕ</a>
				</div>
				<div class="hdr cntr4">
					<a href="{{ url_for('donat') }}">ДОНАТ</a>
				</div>
				<div class="hdr rght">
				  <a href="{{ url_for('main_page') }}">вход</a>
				  <hr />
				  <a href="{{ url_for('main_page') }}">регистрация</a>
				</div>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
	<footer>
		<p>©Copyright by Д. В. Костоусов, 2020</p>
		<pre id="aa"><nobr>Контакты: <a href="mailto: dancool_5@mail.ru">dancool_5@mail.ru</a></nobr></pre>
	</footer>
</html>
