{% extends "base.html" %}
{% block content %}
<h3 class="head_don">Поддержите нас, чем сможете. Благодаря донатам, у нас будет возможность развиваться дальше.</h3>
<iframe class="donate" src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9D%D0%B0%20%D0%BF%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D1%83%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0&targets-hint=&default-sum=50&button-text=14&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=&quickpay=shop&account=4100112415149059" width="423" height="301" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
{% endblock %}